@fieldBlockHeight: 150px;
@fieldBlockWidth: 170px;

 main {
    display: block;
  }

div {
  float: left;  
}

.block {
  border: 2px solid black;
  width: 170px;
  height: 150px;
}

img {
  width: 30px;
}

.img-div {
  width:30px;
  padding: 40px 5px;
}

table tr:first-child {
  margin-top: 8px;
}

table tr {
    height: 47px;
}

table tr td {
    padding: 0px 18px;
}
